.hello{
  color: lime;
}
.about{
  width:90%;
  color: white;
  font-size: 14px;
  //overflow-y: scroll;
  text-align:left;
  margin: 0 1px 1px 10px;
  letter-spacing: 1px;
}
.splashHeader{
  text-align: center;
}
.error{
  color:red;
}
