.profileSpace{
  width: 50%;
  height: 500px;
  display: block;
  margin-left: 25%;
  float:left;
}

.profileSpace img {
  width: 450px;
  height: 450px;
  display: block;
  margin-top: 60px;
  margin-left: 13%;
}
