body{
  display: inline-block;
  width: 100%;
  font-family: 'open sans', sans-serif;
  background-color: #1D1F20;
  color: white;
  margin-left: 6%;

}

#canvas{
  display: inline-block;
  border: 1px solid black;
  float: left;
  margin: 1%;
  background-color: white;

}
.sidebar{
  display: inline-block;
  width: 25%;
  height: 500px;
  float: left;
  margin: 1%;
  background: radial-gradient(#474748,#1D1F20);
  box-shadow: 4px 4px 4px solid black;
  border-radius: 10px;
  border: 2px solid #474748;
}
h4{
  font-size: 14px;
  background: linear-gradient(#474748,#1D1F20);
  border-radius: 5px;
  border: 2px solid #474748;
}


h1{
  border-top: 5px solid black;
  text-shadow: 2px 2px 2px black;
  color: white;
  background: linear-gradient(#3F4041,#1D1F20);
  height: 30px;
  width: 71%;
  padding-right: 2%;
}

span{
  color:#d35400;
}
.button{
  display: inline-block;
  background: linear-gradient(#1D1F20,#3F4041);
  height: 30px;
  font-size: 12px;
  border: none;
  width: 65px;
  color: white;
  text-shadow: 2px 2px 0px black;
  border-radius: 5px;
  float: right;
  margin-top:1%;
}
.button:hover{
  background: none;
  background-color:#d35400;
  border-radius: 5px;
}


#crayon, #marker, #eraser, {
  width: 30px;
  margin-top: 20px;
}

.openTEST{
  float: left;
  display: inline-block;
  width: 700px;
  margin-right: 25%;
}

#spray {
  width: 120px;
}
